# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.php]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{yml,yaml}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 0
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false

[{Dockerfile,docker-compose.yml}]
indent_style = space
indent_size = 2

[COMMIT_EDITMSG]
max_line_length = 0